#menu {
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
}
#menu-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 22px;
  pointer-events: none;
  transition: 0.1s;
}
#menu-icon-wrapper.scaled {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
#menu-icon-wrapper svg {
  position: absolute;
  top: -33px;
  left: -50px;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
#menu-icon-wrapper svg path {
  stroke: #000000;
  stroke-width: 60px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}
#menu-icon-wrapper #menu-icon-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
#menu-icon-wrapper #menu-icon-trigger:hover,
#menu-icon-wrapper #menu-icon-trigger:focus {
  outline: none;
}

.container {
  width: 920px;
  display: block;
}

.container h1,
.container h2 {
  padding: 20px;
}

.left,
.right,
.center {
  display: inline-block;
  width: 260px;
  padding: 20px;
}

body {
  font-family: "Monoton", cursive;
}
